body{
    margin: 0;
    padding: 0;
    background: url("../img/Ground.jpg");
    background-position: bottom;
    background-size: cover;
    height: 100vh;
}

div.animate img{
    width: 100px;
    position: absolute;
    top:55%;
    left: 0;
 /*   transform: translate(50%,-50%);
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: make-move 5s;
    animation-iteration-count: infinite;
    /* animation-direction: reverse; */
}

@keyframes make-move {
    0%{ 
         transform: translate(-100%,80%);
        opacity: 1;
        width: 90px;    
    }

    10%{  
        transform: translate(-120%,70%);
        opacity: 1;
        width: 85px;
      }

    20%{
        transform: translate(-140%,60%); */
        opacity: 1;
        width: 80px;
        }

    30%{
         transform: translate(-160%,50%); */
         opacity: 1;
        width: 75px;    
        }
    
    50%{
        transform: translate(-180%,40%); */
        opacity: 1;
        width: 72px;
        }
    
    60%{
         transform: translate(-200%,30%); */
         opacity: 1;
        width: 70px;    
    }
    
    70%{
        transform: translate(-220%,20); */
        width: 69px;
        }
    
    90%{
         transform: translate(-240%,10%); */
         opacity: 1;
        width: 68px;    
        }
    
    100%{
        transform: translate(-260%,20%); 
        left: 55%;
        opacity: 1;
        width: 66px;
        top: 50%;
        }
}
div.ground {
    background-image: url(../img/Ground.jpg);
    top: 0;
    height: 100vh;
    width: 100vw;
    background-position: bottom;
    background-size: cover;
    opacity: .5;
    position: absolute;
}

}