.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }

  .heading{
    text-align: center;
    border: 2px solid black;
    border-radius: .5em;
  }

  .head{
    margin-right: 200px;
    margin-left: 200px;

  }

  .full{
    background-color:#F5F4E7;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 425px;
    margin-left: 425px;
    border: 2px solid black;
    border-radius: .5em;
  }

  .tail{
    text-align: center;
  }